<div fill-height class="main" style="background-image: url('../../../assets/image/background.jpg');
height: 100%; 
top: 0; 
left: 0; 

/* Preserve aspet ratio */
min-width: 100%;
min-height: 100%;
background-repeat: no-repeat;
background-size: cover;">
<!-- <div fill-height class="main"> -->
	<div class="container">
		<div>
			<img src="assets/image/banner.jpg" class="img-fluid mx-auto d-block rounded" alt="Responsive image">
		</div>
			
			<!-- <div class="embed-responsive embed-responsive-16by9">
  				<iframe class="embed-responsive-item" src="assets/video/bg-video.mp4" ></iframe>
			</div> -->
			<div class="row" style="padding-top: 20px;">
				<div class="col-md-2"><div>
					<img src="assets/image/left-panel.jpg" class="img-fluid mx-auto d-block rounded" alt="Responsive image">
					<img src="assets/image/left-panel2.jpg" class="img-fluid mx-auto d-block rounded" alt="Responsive image">
				</div>
			</div>
				<div id="main-menu" class="col-md-10">
					<app-navbar></app-navbar>
					<router-outlet></router-outlet>
					
				</div>
			</div>
			<app-footer></app-footer>
		</div>
	</div>

