<div class="checkout-body">
	<form (ngSubmit)="onCheckout()">
		<div class="form-group">
			<h4>1. What type of order is this?</h4><br/>
			<div class="row">
				<div class="col-1"></div>
				<div class="col-11">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="orderType" id="pickup" value="pickup" checked>
						<label class="form-check-label" for="orderType">
							This order is for <strong>PICK-UP</strong>.
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="orderType" id="delivery" value="delivery">
						<label class="form-check-label" for="orderType">
							This order is for <strong>DELIVERY</strong>.
						</label>
					</div>
				</div>
			</div>
		</div>
		<hr/>
		<div class="form-group">
			<h4>2. When do you want it to be ready?</h4><br/>
			<div class="row">
				<div class="col-1"></div>
				<div class="col-11">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="orderTime" id="asap" value="asap" checked>
						<label class="form-check-label" for="orderTime">
							I want this to be ready <strong>As Soon As Possible</strong>.
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="orderTime" id="futureOrder" value="futureOrder">
						<label class="form-check-label" for="orderTime">
							I want this to be ready <strong>At a Future Date or Time</strong>.
						</label>
					</div>
				</div>
			</div>
		</div>
		<hr/>

		<h4>3. Help Us To Confirm Your Info</h4> <br/> 

		<h4>Your Basic Info:</h4>
		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<input type="text" class="form-control" id="name" placeholder="First Name" name="firstName" [(ngModel)]="orderInfo.firstName">
				</div>
			</div>
			<div class="col-6">
				<div class="form-group">
					<input type="text" class="form-control" id="name" placeholder="Last Name" name="lastName" [(ngModel)]="orderInfo.lastName">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<input type="phone" class="form-control" id="phone" placeholder="Phone #" name="phone" [(ngModel)]="orderInfo.phone">
				</div>
			</div>
			<div class="col-6">
				<div class="form-group">
					<input type="email" class="form-control" id="email" placeholder="Email" name="email" [(ngModel)]="orderInfo.email">
				</div>
			</div>
		</div>

		<h4>Delivery Address:</h4>
		
		<div class="form-group">
			<input type="text" class="form-control" id="address1" placeholder="Address Line 1" name="street1" [(ngModel)]="orderInfo.street1">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" id="address2" placeholder="Address Line 2" name="street2" [(ngModel)]="orderInfo.street2">
		</div>

		<div class="row">
			<div class="col-4">
				<div class="form-group">
					<input type="text" class="form-control" id="city" placeholder="City" name="city" [(ngModel)]="orderInfo.city">
				</div>
			</div>
			<div class="col-4">
				<div class="form-group">
					<input type="text" class="form-control" id="state" placeholder="State" name="state" [(ngModel)]="orderInfo.state">
				</div>
			</div>
			<div class="col-4">
				<div class="form-group">
					<input type="text" class="form-control" id="zipcode" placeholder="Zipcode" name="zipcode" [(ngModel)]="orderInfo.shippingZipcode">
				</div>
			</div>
		</div>

		<h4>Payment Info:</h4>
		<div class="form-group">
			<label class="control-label" for="name">Name appears on card</label>
			<input id="name" type="text" maxlength="50" class="form-control" name="name" [(ngModel)]="orderInfo.nameOnCard" placeholder="Name on card"/>
		</div>
		<div class="form-group">
			<label class="control-label" for="cardNumber">Card Number</label>
			<input id="cardNumber" type="text" maxlength="50" class="form-control" name="cardNumber" [(ngModel)]="orderInfo.cardNumber" placeholder="Card Number" />
		</div>
		<div class="row">
			<div class="col-4">
				<div class="form-group">
					<label class="control-label" for="expiry">Expiry Date</label>
					<input id="expiry" type="text" maxlength="50" class="form-control" name="expiry" [(ngModel)]="orderInfo.expiry" placeholder="Expiry Date" />
				</div>
			</div>
			<div class="col-4">
				<div class="form-group">
					<label class="control-label" for="cic">CIC Number</label>
					<input id="cic" type="text" maxlength="50" class="form-control" name="cic" [(ngModel)]="orderInfo.cic" placeholder="CIC Number"/>
				</div>
			</div>
			<div class="col-4">
				<div class="form-group">
					<label class="control-label" for="zipcode">Zipcode</label>
					<input id="zipcode" type="text" maxlength="50" class="form-control" name="zipcode" [(ngModel)]="orderInfo.billingZipcode" placeholder="Zipcode for Card"/>
				</div>
			</div>
		</div>
		
		<hr/>

		<div class="form-group">
			<h4>4. Order Items Include: <button type="button" class="btn btn-info btn-sm pull-right">Edit Cart</button></h4> <br/> 
			
			<table class="table table-hover">
				<thead>
					<tr>
						<th>
							Item Name
						</th>
						<th>
							Special Instruction
						</th>
						<th>
							Qty
						</th>
						<th>
							Total
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="active" *ngFor = "let foodToCart of foodToCartList">
						<td>
							{{foodToCart.food.name}}
						</td>
						<td>

						</td>
						<td>
							{{foodToCart.qty}}
						</td>
						<td>
							${{foodToCart.subtotal}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<button type="submit" class="btn btn-danger">PLACE YOUR ORDER</button>
	</form>
</div>