<div class="form-body">
		<form (ngSubmit)="onUpdatePassword()">
			<div *ngIf="passwordUpdated" class="alert alert-success" role="alert">
				Your password has been updated.
			</div>
			<div class="form-group">
				<h3>Update Password</h3>
			</div>
			<div class="form-group">
				<label class="control-label" for="currentPassword">Current Password</label>
				<input id="currentPassword" type="password" maxlength="50" class="form-control" name="currentPassword" [(ngModel)]="currentPassword" />
			</div>
			<div class="form-group">
				<label class="control-label" for="name">New Password</label>
				<input id="newPassword" type="password" maxlength="50" class="form-control" name="newPassword" [(ngModel)]="newPassword" />
			</div>
			<div class="form-group">
				<label class="control-label" for="name">New Password Again</label>
				<input id="newPasswordCheck" type="password" maxlength="50" class="form-control" name="newPasswordCheck" [(ngModel)]="newPasswordCheck" />
			</div>

			<div class="form-group">
				<button id="signupSubmit" type="submit" class="btn btn-info btn-block">Save</button>
			</div>
		</form>
</div>