<div class="home-body">
	<h1>Welcome to Demo</h1>
	<h4>{{ today | date:'M/d/yyyy' }}</h4>
	<br/>
	<p>Demo Cuisine offers authentic and delicious tasting authentic style Chinese cuisine in MA. Demo Cuisine’s convenient location and affordable prices make our restaurant a natural choice for dine-in and take-out meals in the MA community. Our restaurant is known for its varieties of taste and fresh ingredients. Come and experience our friendly atmosphere and excellent service.</p>
	<h3>WE DELIVER. No Registration Required. Order Online!</h3>
	<a routerLink="/mainMenu" routerLinkActive="active"><img src="assets/image/order-now.jpg" class="img-responsive rounded hvr-buzz" alt="Responsive image"></a>
	<video autoplay loop muted width="640" height="480" poster="screenshot.jpg" id="background">
		<source src="assets/video/bg-video.mp4" type="video/mp4">
		</video>
	</div>
