    <div class="register-body">
    	<div class="row">
    		<div class="panel panel-primary">
    			<div class="panel-body">
    				<form (ngSubmit)="onCreateAccount()">
                        <div *ngIf="userCreated" class="alert alert-success" role="alert">
                            Your account has been created.
                        </div>
    					<div class="form-group">
    						<h3>Create account</h3>
    					</div>
    					<div class="form-group">
    						<label class="control-label" for="firstName">First Name</label>
    						<input id="firstName" type="text" maxlength="50" class="form-control" class="form-control" name="firstName" [(ngModel)]="user.firstName" required="required" autofocus="autofocus" />
    					</div>

    					<div class="form-group">
    						<label class="control-label" for="lastName">Last Name</label>
    						<input id="lastName" type="text" maxlength="50" class="form-control" class="form-control" name="lastName" [(ngModel)]="user.lastName" required="required" />
    					</div>

    					<div class="form-group">
    						<label class="control-label" for="signupEmail">Email</label>
    						<input id="signupEmail" type="email" maxlength="50" class="form-control" class="form-control" name="email" [(ngModel)]="user.email" required="required">
    					</div>
    					<div class="form-group">
    						<label class="control-label" for="signupEmailagain">Email again</label>
    						<input id="signupEmailagain" type="email" maxlength="50" class="form-control" name="email" [(ngModel)]="emailcheck" required="required">
    					</div>
    					<div class="form-group">
    						<label class="control-label" for="signupPassword">Password</label>
    						<input id="signupPassword" type="password" maxlength="25" class="form-control" placeholder="at least 6 characters" length="40" name="password" [(ngModel)]="user.password" required="required">
    					</div>
    					<div class="form-group">
    						<label class="control-label" for="signupPasswordagain">Password again</label>
    						<input id="signupPasswordagain" type="password" maxlength="25" class="form-control" name="password" [(ngModel)]="passwordcheck" required="required">
    					</div>
    					<div class="form-group">
    						<label class="control-label" for="phone">Phone Number</label>
    						<input id="phone" type="phone" class="form-control" name="phone" [(ngModel)]="user.phone">
    					</div>
    					<div class="form-group">
    						<label class="control-label" for="fax">Fax</label>
    						<input id="fax" type="phone" class="form-control" name="fax" [(ngModel)]="user.fax">
    					</div>
    					<div class="form-group">
    						<label class="control-label" for="company">Company</label>
    						<input id="company" type="text" class="form-control" name="company" [(ngModel)]="user.company">
    					</div>
    					<div class="form-group">
    						<label class="control-label" for="birthday">Birthday</label>
    						<form class="form-inline">
    							<div class="form-group">
    								<div class="input-group">
    									<input class="form-control" placeholder="yyyy-mm-dd"
    									name="dp" [(ngModel)]="pickedDate" ngbDatepicker #d="ngbDatepicker">
    									<button class="input-group-addon" (click)="d.toggle()" type="button">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
    									</button>
    								</div>
    							</div>
    						</form>
    					</div>
    					<div class="form-group">
    						<button id="signupSubmit" type="submit" class="btn btn-info btn-block">Create your account</button>
    					</div>

    					<p class="form-group">By creating an account, you agree to our <a href="#">Terms of Use</a> and our <a href="#">Privacy Policy</a>.</p>
    				</form>
    			</div>
    		</div>
    	</div>
    </div>
