<button type="button" class="btn btn-primary btn-sm" routerLink="/dashboard/editUserInfo" routerLinkActive="active">Edit These Information</button>

<br/><br/>

<table class="table table-striped">
  <tbody>
    <tr>
      <th>Email: </th>
      <td>{{user.email}}</td>
    </tr>
    <tr>
      <th>Company: </th>
      <td>{{user.company}}</td>
    </tr>
    <tr>
      <th>Full Name: </th>
      <td>{{user.firstName}} {{user.lastName}}</td>
    </tr>
    <tr>
      <th>Address: </th>
      <td>199 Carroll Ave<br/>Westwood, MA 02090</td>
    </tr>
    <tr>
      <th>Telephone: </th>
      <td>{{user.phone}}</td>
    </tr>
    <tr>
      <th>Fax</th>
      <td>{{user.fax}}</td>
    </tr>
    <tr>
      <th>Email: </th>
      <td>{{user.email}}</td>
    </tr>
    <tr>
      <th>Birthday</th>
      <td>{{user.birthday}}</td>
    </tr>
  </tbody>
</table>