	<h3>My Account</h3>
	<nav aria-label="breadcrumb" role="navigation">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a routerLink="customerDetails" routerLinkActive="active">Personal Info</a></li>
			<li class="breadcrumb-item"><a routerLink="viewOrder" routerLinkActive="active">Orders</a></li>
			<li class="breadcrumb-item"><a routerLink="deliveryAddress" routerLinkActive="active">Delivery Address</a></li>
			<li class="breadcrumb-item"><a href="#">Coupon Box</a></li>
			<li class="breadcrumb-item"><a routerLink="creditCard" routerLinkActive="active">Credit Card</a></li>
			<li class="breadcrumb-item"><a routerLink="password" routerLinkActive="active">Password</a></li>
		</ol>
	</nav>
	<router-outlet></router-outlet>

